@use './colors' as *;

@mixin focus($color: $black, $width: 0.25rem, $offset: 0) {
  color: $black;
  outline-style: dotted;
  outline-color: $color;
  outline-width: $width;
  outline-offset: $offset;
}

@mixin hover($color: $black, $width: 0.25rem, $offset: 0) {
  color: $black;
  outline-style: solid;
  outline-color: $color;
  outline-width: $width;
  outline-offset: $offset;
}

@mixin box-shadow($blur: 30px, $width: 0px) {
  box-shadow: 0px 0px $blur $width rgba(0, 0, 0, 0.1);
}