@use '../vars/' as *;

.button {
  outline-width: 0;
  outline-color: transparent;
  transition:
    color 0.2s,
    outline 0.1s;
  &:focus-visible {
    transition: all 0s;
    @include focus;
  }
  &:hover {
    @include hover;
  }
}