@use '../vars/' as *;

.button {
  transition:
    box-shadow 0.2s,
    color 0.2s;
  &:hover {
    color: $black;
    box-shadow: 0 0 0 0.25rem $black;
  }
  &:focus-visible {
    transition:
      box-shadow 0.2s,
      color 0s;
    @include focus;
  }
}