@use '../vars/' as *;

.paragraph {
  line-height: 140%;

  &_color {
    &_description {
      color: $gray;
    }
  }

  &_size {
    &_large {
      font-size: 17px;
    }
    &_medium {
      font-size: 15px;
    }
    &_small {
      font-size: 13px;
    }
  }

  &_weight {
    &_500 {
      font-weight: 500;
    }
  }
}