.title {
  word-break: break-word;
  &_size {
    &_h1 {
      font-size: clamp(2.25rem, 8vw, 3.75rem);
      font-weight: 900;
    }
    &_h2 {
      font-size: clamp(1.5rem, 6vw, 2.5rem);
      font-weight: 700;
    }
    &_h3 {
      font-size: clamp(1rem, 6vw, 1.25rem);
      font-weight: 700;
    }
  }

  &_position {
    &_center {
      margin-bottom: clamp(1rem, 5vw, 2rem);
      text-align: center;
    }
  }
}